@font-face {
    font-family: Tajawal;
    src:url(../fonts/Tajawal/Tajawal-Regular.ttf);
}
@font-face {
    font-family: Anteb;
    src:url(../fonts/Anteb/Anteb-Medium.ttf);
}

@font-face {
    font-family: Futura-LT;
    src:url(../fonts/Futura-LT/FuturaLT-Book.ttf);
}
@font-face {
    font-family: Futura;
    src:url(../fonts/FuturaPT/FuturaPT-Book.otf);
    src:url(../fonts/FuturaPT/FuturaPT-Med.otf);
}
@font-face {
    font-family: Gill;
    src:url(../fonts/Gill-Sans/GillSansMTPro-Medium.otf);
}
@font-face {
    font-family: Nexa;
    src:url(../fonts/Nexa/Nexa-Bold.otf);
}

@font-face {
    font-family: Frankfurter;
    src:url(../fonts/Frankfurter/frankfurter.ttf);
}
@font-face {
    font-family: Frontpage;
    src:url(../fonts/Frontpage/frontage-regular.ttf);
}
